name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0' # Versión compatible

      - name: Install Python & Flet
        run: |
          python -m pip install --upgrade pip
          pip install flet deep-translator

      - name: Build APK
        run: |
          # El comando 'yes' responde automáticamente 'y' a cualquier pregunta
          yes | flet build apk --project .
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/apk/*.apk
