name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0' # Bajamos a una versión más compatible con Flet

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet deep-translator

      - name: Pre-accept Android Licenses
        run: |
          # Esto acepta las licencias antes de que Flet empiece a compilar
          yes | sdkmanager --licenses || true

      - name: Build APK
        run: |
          # Quitamos el comando 'yes' de aquí para evitar el "Broken pipe"
          flet build apk --project . --no-version-check
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/apk/*.apk
